node_modules
Build

backend/dist
backend/node_modules
backend/.sqlite

frontend/dist
frontend/node_modules
frontend/public/pokemons
frontend/src/data/pokemon_list.json

database.sqlite
scripts/parser/pokemon.txt
